<div class="alert alert-info" role="alert" *ngIf="results.length === 0">
  No Records found
</div>
<ng-container *ngFor="let result of results;">
  <div class="alert alert-dark" role="alert">
    <label>{{result.title}}</label>
  </div>
  <ng-container *ngIf="!result.title.includes('Earn & Burn Dashboard') && !router.url.includes('/earn-burn')">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-2 grab" *ngFor="let data of result.data;">
        <div class="card" style="position: relative;min-height: 150px;background-color: white;">
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <h4 class="font-medium font-14 text-uppercase">{{data.title}}</h4>
                <div class="d-flex align-items-center mb-1">
                  <div class="ml-auto">
                    <h5 class="font-medium mb-0">{{data.data}}</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="result.title.includes('Earn & Burn Dashboard') && router.url.includes('/earn-burn')">
    <div class="alert alert-dark" role="alert">
      <div class="row">
        <div class="col-sm-12 col-md-3 col-lg-2">
          <label>From</label>&nbsp;
          <input type="date" [(ngModel)]="chooseDateFrom" class="form-control" />&nbsp;&nbsp;
        </div>
        <div class="col-sm-12 col-md-3 col-lg-2">
          <label>To</label>&nbsp;
          <input type="date" [(ngModel)]="chooseDateTo" class="form-control">&nbsp;&nbsp;
        </div>
        <div class="col-sm-12 col-md-6 col-lg-8">
          <br>
          <button type="button" class="btn btn-rounded btn-primary" (click)="getRecords()">Submit</button>
        </div>
      </div>
    </div>
    <div class="card" style="position: relative;" *ngIf="result && result.data.length > 0">
      <div class="card-body">
        <div class="table-responsive">
          <table datatable [dtOptions]="recipeService.dtOptionsSmall" class="table align-middle mb-0">
            <thead>
              <tr>
                <th class="text-dark font-medium fs-4">SR. No</th>
                <th class="text-dark font-medium fs-4">Outlet
                </th>
                <th class="text-dark font-medium fs-4">Member Enrolled</th>
                <th class="text-dark font-medium fs-4">Points Earned</th>
                <th class="text-dark font-medium fs-4">Points Burned</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let table of result.data; let i = index;">
                <td class="fs-4">{{(i+1)}}</td>
                <td class="fs-4">{{table.title}}</td>
                <td class="fs-4">{{table.enrolled}}</td>
                <td class="fs-4">{{table.earned_points}}</td>
                <td class="fs-4">{{table.points}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>
