<ng-container *ngIf="!isStart && isShowLocation">
  <div class="row">
    <div class="col-12 col-md-2">
      <label>Location*</label>
    </div>
    <div class="col-12 col-md-4">
      <ngx-select-dropdown [ngClass]="{'error-dropdown': intialForm && !selectedLocation}" [config]="config"
        [options]="locations" [multiple]="false" [(ngModel)]="selectedLocation"
        (change)="locationSelectionChanged($event)">
      </ngx-select-dropdown>
      <button type="button" class="btn btn-rounded btn-primary" [disabled]="!selectedLocation"
        style="float: left;margin-top: 16px;" (click)="submit()">Submit</button>
    </div>
  </div>
  <br>
</ng-container>
<ng-container *ngIf="isStart">
  <div class="header-filter">
    <div>
      <button type="button" class="btn btn-rounded btn-primary button-space" (click)="addRow()">Add row</button>
      <button type="button" class="btn btn-rounded btn-primary button-space" (click)="getOrders(false, orderModal)">Orders</button>
      <button type="button" class="btn btn-rounded btn-primary button-space" (click)="getOrders(true, orderModal)">Draft orders</button>
    </div>
    <div class="search-panel">
      <span>
        <input type="text" [(ngModel)]="query" (input)="onSearch()" (focus)="showSuggestions = true" (blur)="hideSuggestions()"
          placeholder="Search product..." class="autocomplete-input" />

        <ul class="suggestions" *ngIf="showSuggestions && filteredOptions.length">
          <li *ngFor="let item of filteredOptions" (mousedown)="selectOption(item)">
            {{ item.name }} ({{item.tamil_name}}) ({{item.quantity}}) ({{(item.prices | defaultPrices)[0]?.selling_price || item.purchase_price}})
          </li>
        </ul>
      </span>
      <span>
        <label>Mobile No:</label>
        <span>
          <input type="text" placeholder="Maximum 10 Digits Only" class="form-control" [appTwoDigitDecimaNumber]="true"
            maxlength="10" [(ngModel)]="mobile"
            (keydown.enter)="getCustomer(mymodal)"></span>
      </span>
      <span (click)="mainMenu()"><img width="30" height="30"
                src="assets/images/back_arrow.png"></span>
    </div>
  </div>
<form [formGroup]="tableForm" class="product-table" *ngIf="selectedLocation">
  <table class="excel-table">
    <thead>
      <tr>
        <th>Product</th>
        <th>Tamil Name</th>
        <th>Stock</th>
        <th>Unit</th>
        <th>Quantity</th>
        <th>MRP</th>
        <th>Net</th>
        <th>Tax%</th>
        <th>Total Net</th>
        <th></th>
      </tr>
    </thead>
    <tbody formArrayName="rows">
      <tr *ngFor="let row of rows.controls; let i = index" [formGroupName]="i">
        <!-- Product Field -->
        <td>
          <input #cellInput type="text" formControlName="product_name" (input)="onProductInput(i, $event)"
            (keydown)="handleKeyDown($event, i)" (blur)="hideSuggestions()" autocomplete="off" (change)="selectProduct(i, $event.value)" />
          <ul class="dropdown-list" *ngIf="activeDropdownIndex === i && filteredProducts[i]?.length">
            <li *ngFor="let option of filteredProducts[i]; let j = index" (click)="selectProduct(i, option.name)"
              [class.active]="activeOptionIndex[i] === j">
              {{ option.name }} ({{option.tamil_name}}) ({{option.quantity}}) ({{(option.prices | defaultPrices)[0]?.selling_price || option.purchase_price}})
            </li>
          </ul>
        </td>
        <!-- Tamil name -->
        <td>
          <input #cellInput type="text" formControlName="product_name_tamil" (keydown)="handleKeyDown($event, i)" />
        </td>
        <!-- stock -->
        <td class="small-col">
          <input #cellInput type="number" formControlName="product_stock" readonly
            (keydown)="handleKeyDown($event, i)" />
        </td>
        <!-- unit -->
        <td class="small-col">
          <select #cellInput formControlName="unit_size" (change)="performCalculations(i)">
            <option *ngFor="let unit of unitNames" [value]="unit.id">{{ unit.name }}</option>
          </select>
        </td>
        <!-- Quantity -->
        <td class="small-col">
          <input #cellInput type="number" formControlName="unit_quantity" min="1"
            (keydown)="handleKeyDown($event, i)" (change)="performCalculations(i)" />
        </td>
        <!-- Price (readonly) -->
        <td class="small-col">
          <input #cellInput type="number" class="readonly-cell" formControlName="mrp_selling_price" readonly
            (keydown)="handleKeyDown($event, i)" />
        </td>
        <!-- net -->
        <td class="small-col">
          <input #cellInput type="number" class="readonly-cell" formControlName="selling_price" readonly
            (keydown)="handleKeyDown($event, i)" />
        </td>
        <!-- tax -->
        <td class="small-col">
          <input #cellInput type="number" class="readonly-cell" formControlName="total_tax" readonly (keydown)="handleKeyDown($event, i)" />
        </td>

        <!-- totalnet -->
        <td class="small-col">
          <input #cellInput type="number" class="readonly-cell" formControlName="total" readonly (keydown)="handleKeyDown($event, i)" />
        </td>
        <!-- Delete -->
        <td>
          <button type="button"><img src="assets/images/Icon-delete.png" width="16" (click)="removeRow(i)"></button>
        </td>
      </tr>
      <tr class="table-footer">
        <td colspan="9" style="text-align: right; padding-right: 20px;">
          <strong style="margin-left: 20px;">Total Tax: {{ (totalBillAmount > 0) ? (SGST + CGST + IGST + cess) : '0' }}</strong>
          <strong>Total: {{ billTotaldue }}</strong>
        </td>
      </tr>
    </tbody>
  </table>
  <button type="button" class="btn btn-rounded btn-default button-space" (click)="resetBilling()">Cancel</button>
  <button type="button" class="btn btn-rounded btn-warning button-space" [disabled]="!totalBillAmount" (click)="orderInvoice(true)">Hold</button>
  <button type="button" class="btn btn-rounded btn-primary button-space" [disabled]="!totalBillAmount" (click)="saveInvoice()">Save</button>
  <button type="button" class="btn btn-rounded btn-default button-space" (click)="printInvoice()">Print preview</button>

</form>
</ng-container>

<ng-template #orderModal let-modal>
  <ng-container>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Orders</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-md-12">
              <table class="table v-middle nowrap dataTable">
            <thead>
              <tr>
                <th class="border-top-0">#</th>
                <th class="border-top-0" *ngIf="!recipeService.isReadOnly">ACTIONS</th>
                <th class="border-top-0" (click)="sorting('id')" [ngClass]="{'sorting': sortBy !== 'id', 'sorting_asc': (sortBy === 'id' && sortOrder === 'ASC'), 'sorting_desc': (sortBy === 'id' && sortOrder === 'DESC')}">Order No</th>
                <th class="border-top-0">Name</th>
                <th class="border-top-0">Mobile</th>
                <th class="border-top-0" (click)="sorting('delivery_date')" [ngClass]="{'sorting': sortBy !== 'delivery_date', 'sorting_asc': (sortBy === 'delivery_date' && sortOrder === 'ASC'), 'sorting_desc': (sortBy === 'delivery_date' && sortOrder === 'DESC')}">Delivery Date</th>
                <th class="border-top-0">Advance Amount</th>
                <th class="border-top-0" (click)="sorting('status')" [ngClass]="{'sorting': sortBy !== 'status', 'sorting_asc': (sortBy === 'status' && sortOrder === 'ASC'), 'sorting_desc': (sortBy === 'status' && sortOrder === 'DESC')}">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cart of carts; let i = index;">
                <td>{{(i+1)}}</td>
                <td *ngIf="!recipeService.isReadOnly" class="ingredientbutton" >
                  <button type="button" *ngIf="isShowLocation && (cart.is_active == 1)" (click)="editCart(cart)"><img src="assets/images/Icon-edit.png" width="16"></button>
                  <button type="button" *ngIf="isShowLocation && (cart.is_active == 1)" (click)="deleteCart(cart.id)"><img src="assets/images/Icon-delete.png"  width="16"></button>
                </td>
                <td>{{cart.order_no}}</td>
                <td>{{cart.customer?.customer_name}}</td>
                <td>{{cart.customer?.customer_mobile}}</td>
                <td>{{cart.delivery_date | date: 'dd-MM-yyyy hh:mm a'}}</td>
                <td>{{cart.advance_amount | currency:'INR':'symbol-narrow':'1.2-2'}}</td>
                <td>{{(cart.status === 1 || cart.is_active === 0) ? ((cart.is_active === 0) ? 'Cancelled' : 'Closed') : 'Inprogress'}}</td>
              </tr>
              <tr *ngIf="carts.length === 0">
                <td colspan="8">No Records</td>
              </tr>
            </tbody>
          </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-rounded btn-default" (click)="modal.dismiss()">Cancel</button>
      <button type="button" class="btn btn-primary"
        (click)="modal.dismiss();addOnCheckProcess(mymodal)">Submit</button>
    </div>
  </ng-container>
</ng-template>

<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">New Customer</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss();paymentModeCancel()">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12 col-lg-12 pad-left-0">
            <div class="form-horizontal">
              <div class="form-group">
                <label class="control-label col-sm-2" for="email">Name *:</label>
                <div class="col-sm-10">
                  <input type="text" [(ngModel)]="customerdetail.customer_name" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-2">Email:</label>
                <div class="col-sm-10">
                  <input type="email" class="form-control" [(ngModel)]="customerdetail.customer_email">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-2">City:</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" [(ngModel)]="customerdetail.customer_city">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-2">Address:</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" [(ngModel)]="customerdetail.customer_address">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-2">Dob:</label>
                <div class="col-sm-10">
                  <input type="date" class="form-control" [(ngModel)]="customerdetail.customer_dob">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-2">Gender:</label>
                <div class="col-sm-10">
                  <select class="form-control" [(ngModel)]="customerdetail.customer_gender">
                    <option value="Male">Male</option>
                    <option value="Male">Female</option>
                    <option value="Male">Transgender</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="row">
      <div class="col-sm-6 text-left">
        <button type="button" class="btn btn-rounded btn-default"
          (click)="modal.dismiss();">Cancel</button>
      </div>
      <div class="col-sm-6 text-right">
        <button type="button" class="btn btn-primary" [disabled]="!customerdetail.customer_name"
          (click)="saveCustomer()">Submit</button>
      </div>
    </div>
  </div>
</ng-template>
<div id="print_invoice" style="width: 35%; margin-left: 30px;" class="hide" *ngIf="carts && carts.length > 0">

  <div class="header">
    <h2>{{selectedLocation.name}}</h2>
    <p>{{selectedLocation.address}}</p>
    <p>CELL: {{selectedLocation.phone_no}}</p>
    <p>GSTIN: {{selectedLocation.gstin}} | FSSAI No: {{selectedLocation.fssai_no}}</p>
    <h4>CASH BILL</h4>
  </div>

  <div class="info" *ngIf="invoice_no && invoice_date">
    <table class="no-border">
      <tr>
        <td>BILL NO: {{invoice_no}}</td>
        <td>Date: {{invoice_date | date: 'dd-MM-yyyy'}}</td>
      </tr>
      <tr>
        <td>
          <ng-container *ngIf="customer">
            <span>Customer: {{customer.customer_name}}</span>
          </ng-container>
        </td>
        <td>Time:  {{invoice_date | date: 'hh:mm a'}}</td>
      </tr>
    </table>
  </div>

  <table>
    <thead>
      <tr>
        <th>{{translations['item']}}<br>Item</th>
        <th>MRP</th>
        <th>GST</th>
        <th>{{translations['quantity']}}<br>Qty</th>
        <th>{{translations['price']}}<br>Rate</th>
        <th>{{translations['money']}}<br>Total</th>
      </tr>
    </thead>
    <tbody>
       <tr *ngFor="let cart of carts">
        <td>{{cart.product_name}} HSN: {{cart.hsn_code}}</td>
        <td>{{cart.mrp_selling_price}}</td>
        <td>{{cart.total_tax}}%</td>
        <td>{{cart.added_quantity}}</td>
        <td>{{cart.selling_price | currency:'INR':'symbol-narrow':'1.2-2'}}</td>
        <td>{{cart.total | currency:'INR':'symbol-narrow':'1.2-2'}}</td>
       </tr>

    </tbody>
  </table>

  <table class="no-border summary">
    <tr>
      <td>Qty: <strong>{{totalQty}}</strong></td>
      <td>Total: <strong>{{(totalBillAmount ? totalBillAmount : 0) |
          currency:'INR':'symbol-narrow':'1.2-2'}}</strong></td>
    </tr>
    <tr>
      <td>Items: {{carts.length}}</td>
      <td><p>{{translations['rent']}}</p>: 0.00</td>
    </tr>
    <tr>
      <td>RoundOff: {{billTotalRound |
          currency:'INR':'symbol-narrow':'1.2-2'}}</td>
      <td colspan="2" class="bold"><p>{{translations['total']}}</p>: {{(billTotaldue ? billTotaldue : 0) |
          currency:'INR':'symbol-narrow':'1.2-2'}}</td>
    </tr>
  </table>

  <table class="no-border">
    <thead>
      <tr>
        <th>GST</th>
        <th>Taxable Value</th>
        <th>SGST</th>
        <th>CGST</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tax of taxs">
        <td>{{tax.total_tax}}%</td>
        <td>{{tax.total_net_price |
          currency:'INR':'symbol-narrow':'1.2-2'}}</td>
        <td>{{tax.SGST |
          currency:'INR':'symbol-narrow':'1.2-2'}}</td>
        <td>{{tax.CGST |
          currency:'INR':'symbol-narrow':'1.2-2'}}</td>
        <td>{{tax.total |
          currency:'INR':'symbol-narrow':'1.2-2'}}</td>
      </tr>
    </tbody>
  </table>

  <div class="info">
    <table class="no-border">
      <tr>
        <td>{{translations['box']}}:</td>
        <td>{{translations['chip']}}:</td>
        <td>{{translations['change']}}:</td>
      </tr>
    </table>
  </div>

  <div class="footer">
    <p><strong>{{selectedLocation.message}}</strong></p>
  </div>
</div>
