<ng-container *ngIf="!isStart && isShowLocation">
    <div class="row">
      <div class="col-12 col-md-2">
        <label>Location*</label>
      </div>
      <div class="col-12 col-md-4">
        <ngx-select-dropdown [ngClass]="{'error-dropdown': intialForm && !selectedLocation}" [config]="config"
          [options]="locations" [multiple]="false" [(ngModel)]="selectedLocation"
          (change)="locationSelectionChanged($event)">
        </ngx-select-dropdown>
        <button type="button" class="btn btn-rounded btn-primary" [disabled]="!selectedLocation" style="float: left;margin-top: 16px;"
        (click)="submit()">Submit</button>
      </div>
    </div>
    <br>
  </ng-container>
  <button *ngIf="isStart" type="button" class="btn btn-rounded btn-primary" style="float: left;margin-top: 16px;"
        (click)="reload()">Reload Screen</button><br><br><br>
<div #spreadsheet></div>
