<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h1>Search</h1>
        <br>
        <div class="row" *ngIf="isShowLocation">
          <div class="col-12 col-md-2">
            <label>Location<span *ngIf="isAdd || isEdit">*</span></label>
          </div>
          <div class="col-12 col-md-4">
            <ngx-select-dropdown [config]="config" [options]="locations" [multiple]="false" [(ngModel)]="location_in_id" (change)="locationSelectionChanged($event)">
            </ngx-select-dropdown>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-2 mobile-full-width">
            <label>From</label>
          </div>
          <div class="col-4 mobile-full-width">
            <input type="date" class="form-control" [(ngModel)]="from" (change)="fillDate()" (keydown.enter)="onKeyDownEvent($event)">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-2 mobile-full-width">
            <label>To</label>
          </div>
          <div class="col-4 mobile-full-width">
            <input type="date" class="form-control" [(ngModel)]="to" (change)="fillDate()" (keydown.enter)="onKeyDownEvent($event)">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-2 mobile-full-width">
            <label>Invoice Number</label>
          </div>
          <div class="col-4 mobile-full-width">
            <input type="text" class="form-control" [(ngModel)]="invoice_no" (keydown.enter)="onKeyDownEvent($event)">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-2 mobile-full-width">
            <label>Reference Number</label>
          </div>
          <div class="col-4 mobile-full-width">
            <input type="text" class="form-control" [(ngModel)]="reference_no" (keydown.enter)="onKeyDownEvent($event)">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-2 mobile-full-width">
            <label>Status</label>
          </div>
          <div class="col-4 mobile-full-width">
            <select class="form-control" [(ngModel)]="is_active">
              <option value="">All</option>
              <option value="1">Active</option>
              <option value="0">Cancelled</option>
            </select>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-2 mobile-full-width">
            <label>Export</label>
          </div>
          <div class="col-4 mobile-full-width">
            <select class="form-control" [(ngModel)]="is_export" (change)="clearInvoices()">
              <option value="">No</option>
              <option value="1">Yes</option>
            </select>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="offset-md-3 col-12 mobile-full-width" *ngIf="isSearch">
            <button type="button" class="btn btn-rounded btn-default" (click)="search(true)">Reset</button>
            <button type="button" *ngIf="is_export !== '1'" class="btn btn-rounded btn-info" (click)="search(false)">Search</button>
            <button (click)="search(false)" *ngIf="is_export === '1'" style="margin-right: 10px;" type="button" class="btn btn-warning">Export<img
              src="assets/images/excel.png" width="20"></button>
          </div>
          <div class="offset-md-3 col-12 mobile-full-width" *ngIf="isAdd || isEdit">
            <button type="button" class="btn btn-rounded btn-default" (click)="cancel()">Cancel</button>
            <button type="button" class="btn btn-rounded btn-primary" (click)="submit(null)">{{isAdd ? 'Submit' :
              'Update'}}</button>
          </div>
        </div>
        <div class="table-responsive" style="padding: 20px;" *ngIf="(!isAdd && !isEdit)" [hidden]="is_export === '1'">
          <table id="invoice_summary_report" class="table v-middle nowrap dataTable">
            <thead>
              <tr>
                <th class="border-top-0">#</th>
                <th class="border-top-0" *ngIf="!is_export">ACTIONS</th>
                <th class="border-top-0" (click)="sorting('created_at')"
                  [ngClass]="{'sorting': sortBy !== 'created_at', 'sorting_asc': (sortBy === 'created_at' && sortOrder === 'ASC'), 'sorting_desc': (sortBy === 'created_at' && sortOrder === 'DESC')}">
                  Created</th>
                <th class="border-top-0" (click)="sorting('location')"
                  [ngClass]="{'sorting': sortBy !== 'location', 'sorting_asc': (sortBy === 'location' && sortOrder === 'ASC'), 'sorting_desc': (sortBy === 'location' && sortOrder === 'DESC')}">
                  Location</th>
                <th class="border-top-0" (click)="sorting('invoice_no')"
                  [ngClass]="{'sorting': sortBy !== 'invoice_no', 'sorting_asc': (sortBy === 'invoice_no' && sortOrder === 'ASC'), 'sorting_desc': (sortBy === 'invoice_no' && sortOrder === 'DESC')}">
                  Invoice No</th>
                <th class="border-top-0" (click)="sorting('order_type')"
                [ngClass]="{'sorting': sortBy !== 'order_type', 'sorting_asc': (sortBy === 'order_type' && sortOrder === 'ASC'), 'sorting_desc': (sortBy === 'order_type' && sortOrder === 'DESC')}">
                Order Type</th>
                  <th class="border-top-0" (click)="sorting('reference_no')"
                  [ngClass]="{'sorting': sortBy !== 'reference_no', 'sorting_asc': (sortBy === 'reference_no' && sortOrder === 'ASC'), 'sorting_desc': (sortBy === 'reference_no' && sortOrder === 'DESC')}">
                  Reference No</th>
                <th class="border-top-0" (click)="sorting('is_active')"
                  [ngClass]="{'sorting': sortBy !== 'is_active', 'sorting_asc': (sortBy === 'is_active' && sortOrder === 'ASC'), 'sorting_desc': (sortBy === 'is_active' && sortOrder === 'DESC')}">
                  Status</th>
                <th class="border-top-0" (click)="sorting('total')"
                  [ngClass]="{'sorting': sortBy !== 'total', 'sorting_asc': (sortBy === 'total' && sortOrder === 'ASC'), 'sorting_desc': (sortBy === 'total' && sortOrder === 'DESC')}">
                  Total</th>
                <th class="border-top-0" (click)="sorting('user')"
                  [ngClass]="{'sorting': sortBy !== 'user', 'sorting_asc': (sortBy === 'user' && sortOrder === 'ASC'), 'sorting_desc': (sortBy === 'user' && sortOrder === 'DESC')}">
                  Cashier</th>
                <th class="border-top-0" class="border-top-0" (click)="sorting('payment_type')"
                  [ngClass]="{'sorting': sortBy !== 'payment_type', 'sorting_asc': (sortBy === 'payment_type' && sortOrder === 'ASC'), 'sorting_desc': (sortBy === 'payment_type' && sortOrder === 'DESC')}">Payment Type</th>
                <th class="border-top-0">Customer</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let invoice of invoices; let i = index;">
                <td>{{(i+1) + ((currentPage-1) * 20)}}</td>
                <td *ngIf="!recipeService.isReadOnly && !is_export" class="ingredientbutton">
                  <button type="button" (click)="getInvoice(invoice, mymodal)"><img src="assets/images/Icon-edit.png"
                      width="16"></button>
                </td>
                <td>{{invoice.created_at | date: 'dd-MM-yyyy hh:mm a'}}</td>
                <td>{{invoice.location.name}}</td>
                <td>{{invoice.invoice_no}}</td>
                <td>{{invoice.order_type.name}}</td>
                <td>{{invoice.reference_no}}</td>
                <td>{{(invoice.is_active === 1) ? 'Active' : 'Cancelled'}}</td>
                <td>{{invoice.total | currency:'INR':'symbol-narrow':'1.2-2'}}</td>
                <td>{{invoice.user.name}}</td>
                <td>{{invoice.payment_type.name}}</td>
                <td>{{invoice.customer ? invoice.customer.customer_name : '-'}}</td>
              </tr>
              <tr *ngIf="invoices.length === 0">
                <td colspan="11">No Records</td>
              </tr>
            </tbody>
          </table>
          <div class="pull-right" *ngIf="is_export && invoices.length > 0">
            <button (click)="export()" style="margin-right: 10px;" type="button" class="btn btn-warning">Export<img
              src="assets/images/excel.png" width="20"></button>
          </div>
          <div *ngIf="!is_export">
            <app-pagination [(lastPage)]="lastPage" [(page)]="page"
            (pageChangeEvent)="setPagination($event)"></app-pagination>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #mymodal let-modal>
  <ng-container *ngIf="invoicePreview">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Invoice</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss();cancelPop()">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12 col-lg-12 pad-left-0">
              <div class="card br-grey pos-cat-card">
                <div class="table-responsive" style="padding: 20px;">
                  <div class="row">
                    <div class="col-12 mobile-full-width">
                      <button type="button" *ngIf="(invoiceDetail.is_active !== 0)" class="btn btn-primary" (click)="printInvoice()">Print</button>
                      <button type="button" *ngIf="(isShowLocation && (invoiceDetail.is_active === 1))" class="btn btn-default text-right" (click)="cancelBill(invoiceDetail)">Cancel Bill</button>
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-3 mobile-full-width">
                      <label>Location</label>
                    </div>
                    <div class="col-3 mobile-full-width">
                      {{invoiceDetail.location.name}}
                    </div>
                    <div class="col-3 mobile-full-width">
                      <label>Customer Name</label>
                    </div>
                    <div class="col-3 mobile-full-width">
                      {{invoiceDetail.customer ? invoiceDetail.customer.customer_name : 'N/A'}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-3 mobile-full-width" *ngIf="invoiceDetail.reference_no">
                      <label>Reference Number</label>
                    </div>
                    <div class="col-3 mobile-full-width" *ngIf="invoiceDetail.reference_no">
                      {{invoiceDetail.reference_no}}
                    </div>
                    <div class="col-3 mobile-full-width">
                      <label>Invoice Number</label>
                    </div>
                    <div class="col-3 mobile-full-width">
                      {{invoiceDetail.invoice_no}}
                    </div>
                    <div class="col-3 mobile-full-width">
                      <label>Invoice Date</label>
                    </div>
                    <div class="col-3 mobile-full-width">
                      {{invoiceDetail.created_at | date:'dd-MM-yyyy hh:mm a'}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-3 mobile-full-width">
                      <label>Payment Type</label>
                    </div>
                    <div class="col-3 mobile-full-width">
                      {{invoiceDetail.payment_type.name}}
                    </div>
                    <div class="col-3 mobile-full-width">
                      <label>Created By</label>
                    </div>
                    <div class="col-3 mobile-full-width">
                      {{invoiceDetail.user.name}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-3 mobile-full-width">
                      <label>Order Type</label>
                    </div>
                    <div class="col-3 mobile-full-width">
                      {{invoiceDetail.order_type.name}}
                    </div>
                    <div class="col-3 mobile-full-width">
                      <label>SGST</label>
                    </div>
                    <div class="col-3 mobile-full-width">
                      {{invoiceDetail.SGST_amount | currency:'INR':'symbol-narrow':'1.2-2'}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-3 mobile-full-width">
                      <label>CGST</label>
                    </div>
                    <div class="col-3 mobile-full-width">
                      {{invoiceDetail.CGST_amount | currency:'INR':'symbol-narrow':'1.2-2'}}
                    </div>
                    <div class="col-3 mobile-full-width">
                      <label>IGST</label>
                    </div>
                    <div class="col-3 mobile-full-width">
                      {{invoiceDetail.IGST_amount | currency:'INR':'symbol-narrow':'1.2-2'}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-3 mobile-full-width">
                      <label>CESS</label>
                    </div>
                    <div class="col-3 mobile-full-width">
                      {{invoiceDetail.cess_amount | currency:'INR':'symbol-narrow':'1.2-2'}}
                    </div>
                    <div class="col-3 mobile-full-width">
                      <label>Discount By Mloyal</label>
                    </div>
                    <div class="col-3 mobile-full-width">
                      {{invoiceDetail.discount_mloyal_amount | currency:'INR':'symbol-narrow':'1.2-2'}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-3 mobile-full-width">
                      <label>Discount Amount</label>
                    </div>
                    <div class="col-3 mobile-full-width">
                      {{invoiceDetail.discount_amount | currency:'INR':'symbol-narrow':'1.2-2'}}
                    </div>
                    <div class="col-3 mobile-full-width">
                      <label>Roundoff</label>
                    </div>
                    <div class="col-3 mobile-full-width">
                      {{invoiceDetail.roundoff | currency:'INR':'symbol-narrow':'1.2-2'}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-3 mobile-full-width">
                      <label>Total</label>
                    </div>
                    <div class="col-3 mobile-full-width">
                      {{(invoiceDetail.total + invoiceDetail.roundoff) | currency:'INR':'symbol-narrow':'1.2-2'}}
                    </div>
                    <div class="col-3 mobile-full-width">
                      <label *ngIf="(invoiceDetail.is_active === 1)">Status : Active</label>
                      <label *ngIf="(invoiceDetail.is_active === 0)">Status : Cancelled <span *ngIf="invoiceDetail.cancel_note">({{invoiceDetail.cancel_note.notes}})</span></label>
                    </div>
                  </div>
                  <br>
                  <table datatable [dtOptions]="recipeService.dtOptionsSmall" class="table v-middle nowrap dataTable">
                    <thead>
                      <tr>
                          <th>Product/Receipe Name</th>
                          <th>Quantity</th>
                          <th>SGST</th>
                          <th>CGST</th>
                          <th>IGST</th>
                          <th>Cess</th>
                          <th>Rate</th>
                          <th>Total</th>
                          <th>Return</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let invoiceDetail of invoiceDetail.details">
                        <td>{{invoiceDetail.product ? invoiceDetail.product.name : invoiceDetail.receipe.name}}</td>
                        <td>{{invoiceDetail.quantity}} ({{invoiceDetail.product ? invoiceDetail.product.unit.name : invoiceDetail.receipe.unit.name}})</td>
                        <td>{{(+invoiceDetail.SGST_percentage ? ((+invoiceDetail.SGST_percentage / 100) * invoiceDetail.price) : 0)  | currency:'INR':'symbol-narrow':'1.2-2'}}</td>
                        <td>{{(+invoiceDetail.CGST_percentage ? ((+invoiceDetail.CGST_percentage / 100) * invoiceDetail.price) : 0)  | currency:'INR':'symbol-narrow':'1.2-2'}}</td>
                        <td>{{(+invoiceDetail.IGST_percentage ? ((+invoiceDetail.IGST_percentage / 100) * invoiceDetail.price) : 0)  | currency:'INR':'symbol-narrow':'1.2-2'}}</td>
                        <td>{{(+invoiceDetail.cess_percentage ? ((invoiceDetail.cess_percentage / 100) * invoiceDetail.price) : 0)  | currency:'INR':'symbol-narrow':'1.2-2'}}</td>
                        <td>{{invoiceDetail.price | currency:'INR':'symbol-narrow':'1.2-2'}}</td>
                        <td>{{(invoiceDetail.price + (+invoiceDetail.SGST_percentage ? ((+invoiceDetail.SGST_percentage / 100) * invoiceDetail.price) : 0) + (+invoiceDetail.CGST_percentage ? ((+invoiceDetail.CGST_percentage / 100) * invoiceDetail.price) : 0) + (+invoiceDetail.IGST_percentage ? ((+invoiceDetail.IGST_percentage / 100) * invoiceDetail.price) : 0) + (+invoiceDetail.cess_percentage ? ((invoiceDetail.cess_percentage / 100) * invoiceDetail.price) : 0)) | currency:'INR':'symbol-narrow':'1.2-2'}}</td>
                        <td><input type="checkbox"  *ngIf="!invoiceDetail.return &&(invoiceDetail.is_active === 1 && ((invoiceDetail.product && invoiceDetail.product.pos_return === 1) || (invoiceDetail.receipe && invoiceDetail.receipe.pos_return === 1)))" class="form-check" [(ngModel)]="invoiceDetail.return" (change)="returnStock()">
                        <input type="text" *ngIf="invoiceDetail.return" [(ngModel)]="invoiceDetail.added_quantity" (change)="checkReturnStock(invoiceDetail)"></td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <td colspan="7"></td>
                      <td colspan="2"><button type="button" class="btn btn-rounded btn-primary" (click)="saveReturn()">Return</button></td>
                    </tfoot>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">cartData
      <div class="row">
        <div class="col-sm-6 text-left">
          <button type="button" class="btn btn-rounded btn-default"
            (click)="modal.dismiss();cancelPop()">Cancel</button>
        </div>
        <div class="col-sm-6 text-right" *ngIf="isReturnAva">
          <button type="button" class="btn btn-primary" [disabled]="isReturn" (click)="submit(invoiceDetail.location_id)">Submit</button>
        </div>
      </div>
    </div>
  </ng-container>
  <app-print-invoice *ngIf="cartData && cartData.carts" [translations]="translations" [data]="cartData"></app-print-invoice>
</ng-template>
