<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-title" style="padding-right: 20px;" *ngIf="isSearch && !recipeService.isReadOnly">
        <br><button type="button" class="btn btn-rounded btn-primary" (click)="add()"  style="float: right;">Add Recipe</button>
      </div>
      <div class="card-body">
        <h1 *ngIf="isSearch">Recipe Search</h1>
        <h1 *ngIf="isAdd">Add New Recipe</h1>
        <h1 *ngIf="isEdit">Edit Recipe</h1>
        <br>
        <div class="row">
          <div class="col-2 mobile-full-width">
            <label>Name<span *ngIf="isAdd || isEdit">*</span></label>
          </div>
          <div class="col-4 mobile-full-width">
            <input type="text" class="form-control" [(ngModel)]="recipeData.name" (keydown.enter)="onKeyDownEvent($event)">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-2 mobile-full-width">
            <label>Categories<span *ngIf="isAdd || isEdit">*</span></label>
          </div>
          <div class="col-4 mobile-full-width">
            <select class="form-control" [(ngModel)]="recipeData.category_id">
              <option *ngFor="let option of categories;" [value]="option?.id"
                [selected]="option?.id === recipeData.category_id">
                {{option?.name}}</option>
            </select>
          </div>
        </div>
        <span *ngIf="isAdd || isEdit"><br></span>
        <div class="row" *ngIf="isAdd || isEdit">
          <div class="col-2 mobile-full-width">
            <label>Yield* </label>
          </div>
          <div class="col-4 mobile-full-width">
            <input type="text" class="form-control" [(ngModel)]="recipeData.yield">
          </div>
          <br><br><br>
        </div>
        <div class="row" *ngIf="isAdd || isEdit">
          <div class="col-2 mobile-full-width">
            <label>Unit* </label>
          </div>
          <div class="col-4 mobile-full-width">
            <select class="form-control" [(ngModel)]="recipeData.unit_id">
              <option *ngFor="let option of units;" [value]="option.id" [selected]="option.id === recipeData.unit_id">
                {{option.name}}</option>
            </select>
          </div>
          <br><br><br>
        </div>
        <div class="row" *ngIf="isAdd || isEdit">
          <div class="col-2 mobile-full-width">
            <label>Unit Size* </label>
          </div>
          <div class="col-4 mobile-full-width">
            <input type="text" class="form-control" [(ngModel)]="recipeData.unit_size">
          </div>
          <br><br><br>
        </div>
        <div class="row" *ngIf="isAdd || isEdit">
          <div class="col-2 mobile-full-width">
            <label>HSN Code</label>
          </div>
          <div class="col-4 mobile-full-width">
            <input type="text" class="form-control" [appTwoDigitDecimaNumber]="true" [(ngModel)]="recipeData.hsn_code">
          </div>
          <br><br>
        </div>
        <span *ngIf="(isAdd || isEdit)"><br></span>
        <div class="row" *ngIf="isAdd || isEdit">
          <div class="col-2 mobile-full-width">
            <label>Upload URL</label>
          </div>
          <div class="col-3 mobile-full-width">
            <input class="form-control" type="text" [(ngModel)]="recipeData.image_url" />
          </div>
        </div>
        <span *ngIf="(isAdd || isEdit)"><br></span>
          <div class="row" *ngIf="isAdd || isEdit">
            <div class="col-2 mobile-full-width">
              <label>NoN Veg</label>
            </div>
            <div class="col-4 mobile-full-width">
              <label class="toggle-switch">
                <input type="checkbox" [(ngModel)]="recipeData.food_type">
                <span class="toggle-slider toggle-round"></span>
              </label>
            </div>
          </div>
        <span *ngIf="(isAdd || isEdit)"><br></span>
        <div class="row" *ngIf="isEdit && recipeData.manufacturing_price">
          <div class="col-2 mobile-full-width">
            <label>Manufacturing Price</label>
          </div>
          <div class="col-4 mobile-full-width">
            <span *ngIf="recipeData.manufacturing_price" style="color: red;">{{recipeData.manufacturing_price | currency:'INR':'symbol-narrow':'1.2-2'}}<br>Last Updated @{{(recipeData.manufacturing_price_updated_at) | date: 'dd-MM-yyyy hh:mm a'}}</span>
          </div>
          <br><br>
        </div>
        <span *ngIf="(isEdit && recipeData.manufacturing_price)"><br></span>
        <div class="row" *ngIf="isAdd || isEdit">
          <div class="col-2 mobile-full-width">
            <label>Request Stocks</label>
          </div>
          <div class="col-4 mobile-full-width">
            <label class="toggle-switch">
              <input type="checkbox" [(ngModel)]="recipeData.is_request_stock">
              <span class="toggle-slider toggle-round"></span>
            </label>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-2 mobile-full-width">
            <label>Show In POS</label>
          </div>
          <div class="col-4 mobile-full-width">
            <label class="toggle-switch" *ngIf="isAdd || isEdit">
              <input type="checkbox" [(ngModel)]="recipeData.is_show_in_pos" (change)="posChange()">
              <span class="toggle-slider toggle-round"></span>
            </label>
            <select class="form-control" *ngIf="!(isAdd || isEdit)" [(ngModel)]="recipeData.is_show_in_pos">
              <option *ngFor="let option of isIngredients;" [value]="option.value">
                {{option.name}}</option>
            </select>
          </div>
        </div>
        <br>
        <ng-container *ngIf="!recipeData.is_show_in_pos && (isAdd || isEdit)">
          <br>
          <div class="row">
            <div class="col-2 mobile-full-width">
              <label>End In Eod Days</label>
            </div>
            <div class="col-4 mobile-full-width">
              <ngx-select-dropdown [config]="dayConfig" [options]="days" [multiple]="true"
                  [(ngModel)]="recipeData.eod_days"></ngx-select-dropdown>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="recipeData.is_show_in_pos && (isAdd || isEdit)">
          <br>
          <div class="row">
            <div class="col-2 mobile-full-width">
              <label>Sku Analysis</label>
            </div>
            <div class="col-4 mobile-full-width">
              <label class="toggle-switch">
                <input type="checkbox" [(ngModel)]="recipeData.is_sku_analysis">
                <span class="toggle-slider toggle-round"></span>
              </label>
            </div>
          </div>
          <br>
            <div class="row" *ngIf="(isAdd || isEdit)">
              <div class="col-2 mobile-full-width">
                <label>Show In Dashboard</label>
              </div>
              <div class="col-4 mobile-full-width">
                <label class="toggle-switch">
                  <input type="checkbox" [(ngModel)]="recipeData.is_dashbord">
                  <span class="toggle-slider toggle-round"></span>
                </label>
              </div>
          </div>
          <br>
          <div class="row">
            <div class="col-2 mobile-full-width">
              <label>Online Sale</label>
            </div>
            <div class="col-4 mobile-full-width">
              <label class="toggle-switch">
                <input type="checkbox" [(ngModel)]="recipeData.is_online_sale" (change)="online_sale($event)">
                <span class="toggle-slider toggle-round"></span>
              </label>
            </div>
          </div>
          <br>
          <div class="row">
              <div class="col-2 mobile-full-width">
                <label>Return</label>
              </div>
              <div class="col-4 mobile-full-width">
                <label class="toggle-switch">
                  <input type="checkbox" [(ngModel)]="recipeData.pos_return">
                  <span class="toggle-slider toggle-round"></span>
                </label>
              </div>
          </div>
          <br>
          <!-- <div class="row">
            <div class="col-2 mobile-full-width">
              <label>Auto Split In Billing</label>
            </div>
            <div class="col-4 mobile-full-width">
              <label class="toggle-switch">
                <input type="checkbox" [(ngModel)]="recipeData.is_auto_split_in_billing">
                <span class="toggle-slider toggle-round"></span>
              </label>
            </div>
        </div>
        <br> -->
        </ng-container>
        <div class="row" *ngIf="isAdd || isEdit">
          <div class="col-2 mobile-full-width">
            <label>Use As Ingredient</label>
          </div>
          <div class="col-6 mobile-full-width">
            <label class="toggle-switch">
              <input type="checkbox" [(ngModel)]="recipeData.is_ingredient">
              <span class="toggle-slider toggle-round"></span>
            </label>
          </div>
          <br><br><br>
        </div>
        <div class="row" *ngIf="isAdd || isEdit">
          <div class="col-2 mobile-full-width">
            <label>Use As Add ON</label>
          </div>
          <div class="col-6 mobile-full-width">
            <label class="toggle-switch">
              <input type="checkbox" [(ngModel)]="recipeData.addon">
              <span class="toggle-slider toggle-round"></span>
            </label>
          </div>
          <br><br>
        </div>
        <div class="row" *ngIf="isSearch">
          <div class="col-2 mobile-full-width">
            <label>Use As Ingredient</label>
          </div>
          <div class="col-4 mobile-full-width">
            <select class="form-control" [(ngModel)]="recipeData.is_ingredient">
              <option *ngFor="let option of isIngredients;" [value]="option.value">
                {{option.name}}</option>
            </select>
          </div>
          <br><br><br>
        </div>
        <ng-container *ngIf="recipeData.is_show_in_pos && (isAdd || isEdit)">
          <br>
          <div *ngFor="let price of prices; let i = index;" class="card" style="border: 1px solid;">
            <div class="card-body">
              <h4 class="card-title">#{{i + 1}}</h4>
              <div class="row">
                <div class="col-2 mobile-full-width">
                  <label>Location<span>*</span></label>
                </div>
                <div class="col-4 mobile-full-width">
                  <span *ngIf="price.location_id === 0">Any</span>
                  <span *ngIf="price.location_id !== 0">
                    <ngx-select-dropdown [config]="configLocation" [options]="locations" [multiple]="false" [(ngModel)]="price.location" (change)="locationSelectionChanged(price, $event)"></ngx-select-dropdown>
                  </span>
                </div>
                <div class="col-2 mobile-full-width">
                  <button type="button" ><img src="assets/images/Icon-delete.png" width="16"
                    (click)="removePrice(i)"></button>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-2 mobile-full-width">
                  <label>Types</label>
                </div>
                <div class="col-4 mobile-full-width">
                   <ngx-select-dropdown [config]="configLocation" [options]="paymentModes" [multiple]="false" [(ngModel)]="price.payment_mode" (change)="paymentModeSelectionChanged(price, $event)"></ngx-select-dropdown>
                </div>
                <div class="col-2 mobile-full-width">
                  <label>Net Selling Price (Rs.)</label>
                </div>
                <div class="col-4 mobile-full-width">
                  <input class="form-control" type="text" [appTwoDigitDecimaNumber]="true" [(ngModel)]="price.selling_price" (focus)="onFocusZeroClear(price, 'selling_price')" />
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-2 mobile-full-width">
                  <label>Selling SGST (%)</label>
                </div>
                <div class="col-4 mobile-full-width">
                  <input class="form-control" type="text" [appTwoDigitDecimaNumber]="true" [(ngModel)]="price.selling_SGST_percentage" (focus)="onFocusZeroClear(price, 'selling_SGST_percentage')"/>
                </div>
                <div class="col-2 mobile-full-width">
                  <label>Selling CGST (%)</label>
                </div>
                <div class="col-4 mobile-full-width">
                  <input class="form-control" type="text" [appTwoDigitDecimaNumber]="true" [(ngModel)]="price.selling_CGST_percentage" (focus)="onFocusZeroClear(price, 'selling_CGST_percentage')"/>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-2 mobile-full-width">
                  <label>Selling IGST (%)</label>
                </div>
                <div class="col-4 mobile-full-width">
                  <input class="form-control" type="text" [appTwoDigitDecimaNumber]="true" [(ngModel)]="price.selling_IGST_percentage" (focus)="onFocusZeroClear(price, 'selling_IGST_percentage')"/>
                </div>
                <div class="col-2 mobile-full-width">
                  <label>Selling Cess (%)</label>
                </div>
                <div class="col-4 mobile-full-width">
                  <input class="form-control" type="text" [appTwoDigitDecimaNumber]="true" [(ngModel)]="price.selling_cess_percentage" (focus)="onFocusZeroClear(price, 'selling_cess_percentage')"/>
                </div>
              </div>
          </div>
        </div>
        <br>
        <div *ngIf="recipeData.is_show_in_pos"><a style="display:block; color: #d93d33;  font-weight: bold; text-decoration: underline;  vertical-align: top; padding-left: 10px;" (click)="addNewPrices(true)">Add More Location Price</a></div>
        <br>
        </ng-container>
        <ng-container *ngIf="isAdd || isEdit">
        <div class="card" style="border: 1px solid;"
            *ngFor="let ingredient of recipeData.ingredients;let indexOfelement=index;">
            <div class="card-body">
              <h4 class="card-title">#{{indexOfelement+1}}</h4>
              <div class="row">
                <div class="col-2 mobile-full-width">
                  <label>Ingredients* </label>
                </div>
                <div class="col-4 mobile-full-width">
                  <ngx-select-dropdown [config]="config" [options]="ingredients" (change)="selectionChanged($event, indexOfelement)" [(ngModel)]="ingredient.displayName" [multiple]="false">
                  </ngx-select-dropdown>
                </div>
                <div class="col-2 mobile-full-width">
                  <label>Quantity* </label>
                </div>
                <div class="col-2 mobile-full-width">
                  <input type="text" class="form-control" [(ngModel)]="ingredient.quantity">
                </div>
                <div class="col-2 mobile-full-width" *ngIf="indexOfelement != 0">
                  <button type="button" ><img src="assets/images/Icon-delete.png" width="16"
                    (click)="removeRecipe(indexOfelement)"></button>
                </div>
              </div>
              <br>
            </div>
        </div>
      </ng-container>
        <div class="row">
          <div class="col-12 text-center mobile-full-width" *ngIf="isSearch">
            <button type="button" class="btn btn-rounded btn-default" (click)="search(true)">Reset</button>
            <button type="button" class="btn btn-rounded btn-info" (click)="search(false)">Search</button>
          </div>
          <div *ngIf="((isAdd || isEdit) && ingredients && ingredients.length > 0)"><a
              style="display:block; color: #d93d33;  font-weight: bold; text-decoration: underline;  vertical-align: top; padding-left: 10px;"
              (click)="addIngredients()">Add Ingredients</a></div>
        </div>
        <br>
        <div class="row" *ngIf="isAdd || isEdit">
          <div class="text-center col-12" *ngIf="isAdd">
            <button type="button" class="btn btn-rounded btn-default" (click)="cancel()">Cancel</button>
            <button type="button" class="btn btn-rounded btn-primary" (click)="submit(null)">Submit</button>
          </div>
          <div class="text-center col-12" *ngIf="isEdit">
            <button type="button" class="btn btn-rounded btn-default" (click)="cancel()">Cancel</button>
            <button type="button" class="btn btn-rounded btn-primary" (click)="submit(null)">{{isAdd ? 'Submit' : 'Update'}}</button>
          </div>
        </div>
        <div class="table-responsive" *ngIf="!isAdd && !isEdit">
          <table class="datatable table v-middle nowrap">
            <thead>
              <tr>
                <th class="border-top-0">#</th>
                <th class="border-top-0" *ngIf="!recipeService.isReadOnly">ACTIONS</th>
                <th class="border-top-0" (click)="sorting('name')" [ngClass]="{'sorting': sortBy !== 'name', 'sorting_asc': (sortBy === 'name' && sortOrder === 'ASC'), 'sorting_desc': (sortBy === 'name' && sortOrder === 'DESC')}">NAME</th>
                <th class="border-top-0">Manufacturing Price</th>
                <th class="border-top-0" (click)="sorting('is_ingredient')" [ngClass]="{'sorting': sortBy !== 'is_ingredient', 'sorting_asc': (sortBy === 'is_ingredient' && sortOrder === 'ASC'), 'sorting_desc': (sortBy === 'is_ingredient' && sortOrder === 'DESC')}">Use As Ingredient</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let recipe of recipes; let i = index;">
                <td>{{(i+1)}}</td>
                <td *ngIf="!recipeService.isReadOnly" class="ingredientbutton" >
                  <button type="button"><img src="assets/images/Icon-edit.png" width="16"
                      (click)="getRecipeById(recipe.id)"></button>
                  <button type="button"><img src="assets/images/Icon-delete.png" width="16"
                      (click)="submit(recipe.id)"></button>
                      <button type="button" (click)="updatePrice(recipe)"><i style="font-size: 20px;margin-left: 10px;" class="fa fa-money" aria-hidden="true"></i></button>
                </td>
                <td>{{recipe.name}}</td>
                <td>{{recipe.manufacturing_price?.price}}</td>
                <td>{{(recipe.is_ingredient === 1) ? 'Yes' : 'No'}}</td>
              </tr>
              <tr *ngIf="recipes.length === 0">
                <td>No Records</td>
              </tr>
            </tbody>
          </table>
          <app-pagination [(lastPage)]="lastPage" [(page)]="page" (pageChangeEvent)="setPagination($event)"></app-pagination>
        </div>
      </div>
    </div>
  </div>
</div>
