.login {
  background: linear-gradient(270deg, #c84a3c 0%, #5489c4 100%);
  background-image: url('/assets/images/home.jpg');
}
.pos-wrapper {
  margin-left: 0px !important;
}
.image-logo {
  width: 170px;
  height: 50px;
}