<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h1>Update Password</h1>
        <br>
        <div class="row">
          <div class="col-2 mobile-full-width">
            <label>Current Password</label>
          </div>
          <div class="col-4 mobile-full-width">
            <input type="text" class="form-control" [(ngModel)]="currentPassword">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-2 mobile-full-width">
            <label>Password</label>
          </div>
          <div class="col-4 mobile-full-width">
            <input type="text" class="form-control" [(ngModel)]="password">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-2 mobile-full-width">
            <label>Confirm Password</label>
          </div>
          <div class="col-4 mobile-full-width">
            <input type="password" class="form-control" [(ngModel)]="confirmPassword">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="offset-md-5 col-12 mobile-full-width">
            <button type="button" class="btn btn-rounded btn-primary" (click)="submit()">Update</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
