<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h1>Jobs</h1>
        <div class="table-responsive">
          <table datatable [dtOptions]="recipeService.dtOptionsSmall" class="datatable table v-middle nowrap">
            <thead>
              <tr>
                <th class="border-top-0">#</th>
                <th class="border-top-0">DESCRIPION</th>
                <th class="border-top-0 sorting">LAST RUNNING TIME</th>
                <th class="border-top-0" >ACTION</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let job of jobs; let i = index;">
                <td>{{(i+1)}}</td>
                <td>{{job.description}}</td>
                <td>{{job.runtime}}</td>
                <td><button type="button" (click)="updateJob(job)">Trigger</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
