<ul class="navbar-nav float-right">
    <!-- <li class="nav-item search-box">
        <form role="search" class="app-search d-none d-md-block mr-3">
            <input type="text" placeholder="Search..." class="form-control mt-0">
            <a href="" class="active">
                <i class="fa fa-search"></i>
            </a>
        </form>
    </li> -->
  <li (click)="stats(true)" *ngIf="router.url === '/billing'" class="nav-item search-box margin-top-23"><i class="fa fa-refresh fa-2 refresh-stats" aria-hidden="true"></i></li>
  <li *ngIf="router.url === '/billing'" [attr.title]="((+statsHeader.biilCount ? +statsHeader.biilCount : 0))" class="nav-item search-box margin-top-23"><label>Bill Count : </label> {{statsHeader.biilCount | number:'1.2-2'}}&nbsp;&nbsp;&nbsp;</li>
  <li *ngIf="router.url === '/billing'" [attr.title]="((+statsHeader.itemCount ? +statsHeader.itemCount : 0))" class="nav-item search-box margin-top-23"><label>Item Count : </label> {{statsHeader.itemCount | number:'1.2-2'}}&nbsp;&nbsp;&nbsp;</li>
  <li *ngIf="router.url === '/billing'" [attr.title]="((+statsHeader.net ? +statsHeader.net : 0))" class="nav-item search-box margin-top-23"><label>Net : </label> {{statsHeader.net | number:'1.2-2'}}&nbsp;&nbsp;&nbsp;</li>
  <li *ngIf="router.url === '/billing'" [attr.title]="((+statsHeader.discount ? +statsHeader.discount : 0))" class="nav-item search-box margin-top-23"><label>Discount : </label> {{statsHeader.discount | number:'1.2-2'}}&nbsp;&nbsp;&nbsp;</li>
  <li *ngIf="router.url === '/billing'" [attr.title]="((+statsHeader.total ? +statsHeader.total : 0))" class="nav-item search-box margin-top-23"><label>Total : </label> {{statsHeader.total | number:'1.2-2'}}&nbsp;&nbsp;&nbsp;</li>
  <li class="nav-item dropdown" ngbDropdown placement="bottom-right">
        <a ngbDropdownToggle class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic"
            href="javascript:void(0)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span>V{{version}}</span>&nbsp;&nbsp;<span>{{userName}} {{clock}}</span>&nbsp;&nbsp;<i class="ti-menu color-white"></i>
        </a>
        <div class="dropdown-menu user-dd" ngbDropdownMenu>
            <a class="dropdown-item" id="main_menu" href="javascript:void(0)" *ngIf="mainMenu && mainMenu.path !== '/billing'" (click)="navigateToMainMenu()">
                <i class="ti-settings m-r-5 m-l-5"></i> Main Menu</a>
            <div class="dropdown-divider" *ngIf="mainMenu && mainMenu.path !== '/billing'"></div>
            <a class="dropdown-item" href="javascript:void(0)" (click)="changePassword()">
              <i class="fa fa-key m-r-5 m-l-5"></i> Change Password</a>
            <a class="dropdown-item" href="javascript:void(0)" (click)="logout()">
                <i class="fa fa-power-off m-r-5 m-l-5"></i> Logout</a>
        </div>
    </li>
</ul>
