<div class="kitchen-container">
  <div class="table-card" *ngFor="let table of tables; let i = index;">
    <h2 class="color-white">Table {{table.table_no}}</h2>
    <div class="order" *ngFor="let order of table.orders; let i = index;">
      <p [ngClass]="{'text-bold': (order.isAddon === true), 'margin-left-10': (order.isAddon !== true)}">{{order.product ? order.product.name : order.receipe.name}} ({{order.product ? order.product.unit.name : order.receipe.unit.name}} : 
        {{order.quantity}})</p>
      <p class="addon" *ngFor="let detail of order.details; let i = index;">Add on - {{detail.product ? detail.product.name : detail.receipe.name}} ({{detail.product ? detail.product.unit.name : detail.receipe.unit.name}} : {{detail.quantity}})
      </p>
      <button class="ready-btn" *ngIf="!order.isAddon" (click)="saveDetails(order)">Ready</button>
    </div>
  </div>
  <div class="table-card" *ngIf="tables.length === 0">
    <h2 class="color-white">No Orders</h2>
  </div>
</div>