<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h1>{{router.url.includes('/calculator') ? 'Recipe Calculator' : 'Recipe Sfg Calculator' }}</h1>
        <br>
        <div class="row">
          <div class="col-12 text-right">
            <input type="file" [(ngModel)]="calculateRecipeUpload" (change)="onFileChange($event)" style="display: none;" #file/>
            <button  (click)="file.click()" type="button" class="btn btn-warning">Import <img src="assets/images/excel.png" width="20"></button>
          </div>
        </div>
        <br>
        <div class="row" *ngFor="let calculateRecipe of calculateRecipes;let indexOfelement=index;">
          <div class="col-2 mobile-full-width">
            <label>Recipe* </label>
          </div>
          <div class="col-4 mobile-full-width mobile-bottom-space">
            <ngx-select-dropdown [config]="config" [options]="recipes" (change)="selectionChanged($event, indexOfelement)"  [(ngModel)]="calculateRecipe.recipe_name" [multiple]="false">
            </ngx-select-dropdown>
          </div>
          <div class="col-6 mobile-full-width mobile-bottom-space calculate-quantity">
            <input type="text" class="form-control" placeholder="*Quantity" [(ngModel)]="calculateRecipe.quantity" (keydown.enter)="getCalculateIngredients(null)">
            <span *ngIf="calculateRecipe.unit">
              ({{calculateRecipe.unit}})
            </span>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-12 mobile-full-width no-offset mobile-center text-center" >
            <button type="button" (click)="add()" class="btn btn-rounded btn-success">Add</button>&nbsp;&nbsp;
            <button type="button" class="btn btn-rounded btn-default" (click)="cancel()">Reset</button><br><br>
            <button type="button" class="btn btn-rounded btn-primary" (click)="getCalculateIngredients(null)">Calculate</button>
          </div>
        </div>
        <!-- <div class="custom-control custom-switch">
          <input type="checkbox" class="custom-control-input" id="customSwitches" [(ngModel)]="isTreeView">
          <label class="custom-control-label" for="customSwitches">Show Ingredient As Tree</label>
        </div> -->
        <div class="table-responsive mobile-table-view" *ngIf="!isNoRecords && !isTreeView">
          <h3 class="label label-head">Calculated Result</h3>
          <button  (click)="exportTable()" type="button" class="btn btn-warning float-right">Export <img src="assets/images/excel.png" width="20"></button>
          <table class="table v-middle nowrap dataTable">
            <thead>
              <tr>
                <th class="border-top-0 mobile-none">#</th>
                <th class="border-top-0 mobile-none">INGREDIENTS</th>
                <th class="border-top-0 mobile-none">SUM OF INGREDIENTS USED</th>
                <th class="border-top-0 mobile-none">PRICE</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let ingredient of ingredients; let i = index;">
                <td><span class="mobile-show" style="display: inline-block;">#:</span><span style="display: inline-block;">{{i +1}}</span></td>
                <td><span class="mobile-show">INGREDIENTS:</span><span>{{ingredient.name}}</span></td>
                <td><span class="mobile-show">SUM OF INGREDIENTS USED:</span><span>{{ingredient.quantity}} ({{ingredient.unit_name.name}})</span></td>
                <td><span class="mobile-show">PRICE:</span><span>{{ingredient.cost ? (ingredient.cost | currency:'INR':'symbol-narrow':'1.2-2'): 0}}</span></td>
              </tr>
            </tbody>
          </table>
          <table class="datatable hide" id="sumOfIngredients">
            <thead>
              <tr>
                <th class="border-top-0 mobile-none">#</th>
                <th class="border-top-0 mobile-none">INGREDIENTS</th>
                <th class="border-top-0 mobile-none">SUM OF INGREDIENTS USED</th>
                <th class="border-top-0 mobile-none">PRICE</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let ingredient of ingredients; let i = index;">
                <td>{{i +1}}</td>
                <td>{{ingredient.name}}</td>
                <td>{{ingredient.quantity}} ({{ingredient.unit_name.name}})</td>
                <td>{{ingredient.cost ? (ingredient.cost | currency:'INR':'symbol-narrow':'1.2-2'): 0}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div *ngIf="!isNoRecords && isTreeView">
          <ngx-tree-data [checkbox]="false" [search]="false" [multiple]="false">
            <div class="title">
              <h3 class="label label-head">Calculated Result</h3>
            </div>
        </ngx-tree-data>
        </div>
      </div>
    </div>
  </div>
</div>
